<ul>
 <div class="container list">
   <ul class="list-group">
    <% @responses.each do |response| %>
    <a href="<%= response.url%>" target="_blank">
    <li class="list-group-item">
     <ul>
      <li><h2><%= response.name %></h2></li>
      <img class="yelp-img" src="<%= response.image_url%>">
      <h4>Rating</h4><li><%= response.rating %></li>
      <h4>Category:</h4>
      <li><%= response.categories[0][0]%></li>
      <h4>Address:</h4>
      <li><%= response.location.address[0] %></li>
     </ul>
    </li>
   </a>
    <% end %>
   </ul>
  </ul>
  </div>
 </div>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'btn btn-block btn-default' %>
