<div class="container list">
  <ul class="list-group">
    <% @responses.each do |response| %>
      <li class="list-group-item">
        <a href="<%= response.url%>" target="_blank">
          <div class="content">
            <ul>
              <div class="container">
                <div class="row">
                  <div class="col-sm-6">
                    <img class="yelp-img img-circle" src="<%= response.image_url%>">
                  </div>
                  <div class="col-sm-6">
                    <h4>Rating</h4>
                      <li><%= response.rating %></li>
                    <h4>Category:</h4>
                      <li><%= response.categories[0][0]%></li>
                    <h4>Address:</h4>
                      <li><%= response.location.address[0] %></li>
                  </div>
                  <li id="restaurant"><h2 class="lg-foot"><%= response.name %></h2></li>
                </div>
              </div>
            </ul>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>

